**Importing libraries**

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

%matplotlib inline

**import data**

In [17]:
data_set = pd.read_csv("merc.csv")
data_set.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0

**Data prep and split**

In [21]:
X = data_set[['year', 'mileage','tax','mpg', 'engineSize']]
y = data_set['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

**Training the model**

In [22]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

**Results**

In [23]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df["diff."] = df["Actual"]-df["Predicted"]
df=df.abs()
coeff_df = pd.DataFrame(model.coef_, X.columns, columns=['Coefficient'])
print(coeff_df)
print(df)
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

      Coefficient
year  2727.121256
       Actual     Predicted         diff.
10823   18800  29359.226757  10559.226757
10986   11999  15723.620478   3724.620478
634     33950  32086.348012   1863.651988
8001    39999  32086.348012   7912.651988
722     18998  23904.984245   4906.984245
...       ...           ...           ...
4194    48990  29359.226757  19630.773243
1308    18718  29359.226757  10641.226757
3784    22995  23904.984245    909.984245
2976    26980  32086.348012   5106.348012
8296    20099  23904.984245   3805.984245

[2624 rows x 3 columns]
Mean Absolute Error: 6425.8407711799755
Mean Squared Error: 95308235.49072108
Root Mean Squared Error: 9762.593686655257

# using all features

**Mean Absolute Error**: 4002.7628478929732

**Mean Squared Error**: 39604512.90034338

**Root Mean Squared Error** : 6293.211652276076

# Without mileage 

**Mean Absolute Error**: 4136.396887643778

**Mean Squared Error**: 42430001.20484078

**Root Mean Squared Error** :6513.8315302777655

# Without year 

**Mean Absolute Error**: 4749.060557384795

**Mean Squared Error**: 49500188.384204574

**Root Mean Squared Error** : 7035.637027604862

# Without Tax 

**Mean Absolute Error**: 4003.3371393030293

**Mean Squared Error**: 39956851.76798034

**Root Mean Squared Error** : 6321.143232674002

# Without mpg 

**Mean Absolute Error**: 4317.725794954443

**Mean Squared Error**: 43494744.96407038

**Root Mean Squared Error** : 6595.0545838583

# Without engineSize 

**Mean Absolute Error**:5261.699801360881

**Mean Squared Error**: 72385511.78650467

**Root Mean Squared Error** : 8507.967547334949